In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('../md.csv')
df.head()

,record_id,region,country,commodity_value,edu_level,fbo_membership,social_membership,smb_clim_infor,climate_access,clim_infor_useful,...,Whoownsthisproperty,Whodecidestodisposeoffthis,EI,NumberQty,EK,EL,EM,latitude,longitude,altitude
0,1234175,Bono East,Ghana,Yam,Basic Education,Yes,Yes,Yes,Yes,Very useful,...,NaN,NaN,Mobile Phone,2.0,300.0,my wife and I,Husband,7.974376,-1.816734,8.500
1,1234300,Bono East,Ghana,Yam,NaN,Yes,Yes,No,Yes,Very useful,...,Husband,Husband,Mobile Phone,4.0,70.0,Myself,Husband,7.973636,-1.854744,4.288
2,1234301,Bono East,Ghana,"Maize, Yam",NaN,No,Yes,No,Yes,Somewhat useful,...,Husband,Husband,Radio,1.0,60.0,Husband,Husband,7.973717,-1.854703,8.576
3,1235047,Bono East,Ghana,"Maize, Yam",Basic Education,Yes,Yes,Yes,Yes,Very useful,...,Husband,Husband,Mobile Phone,2.0,100.0,Husband,Husband,7.946892,-1.622742,12.000
4,1235048,Bono East,Ghana,"Maize, Yam",Secondary Education,Yes,Yes,Yes,Yes,Very useful,...,Myself,Son,Mobile Phone,1.0,120.0,Myself,Wife,7.947540,-1.623547,5.360

### reducing data
##### dropping unwanted/irrelevant columns

In [31]:
df.columns

Index(['record_id', 'region', 'country', 'commodity_value', 'edu_level',
       'fbo_membership', 'social_membership', 'smb_clim_infor',
       'climate_access', 'clim_infor_useful',
       ...
       'Whoownsthisproperty', 'Whodecidestodisposeoffthis', 'EI', 'NumberQty',
       'EK', 'EL', 'EM', 'latitude', 'longitude', 'altitude'],
      dtype='object', length=138)

In [32]:
#dropping comma seperated columns
df.drop(['commodity_value','commodity_value_chain','crop_harvest','csa_practice_awareness','csa_practices',
              'info_assistance','livestock','money_borrowed','other_asset','prioritized_csa_input','source_information',
              'name_respondent', 'Agent_id', 'name_land', 'altitude'], axis=1, inplace=True)

In [33]:
df.columns

Index(['record_id', 'region', 'country', 'edu_level', 'fbo_membership',
       'social_membership', 'smb_clim_infor', 'climate_access',
       'clim_infor_useful', 'years_climate_information',
       ...
       'UnitpriceGHC', 'Whoownsthisproperty', 'Whodecidestodisposeoffthis',
       'EI', 'NumberQty', 'EK', 'EL', 'EM', 'latitude', 'longitude'],
      dtype='object', length=123)

In [34]:
#df.fillna("N/A", inplace=True)

In [35]:
df.to_csv('../mdataset.csv', index=False)